<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.1</string>
	<key>UIAppFonts</key>
	<array>
		<string>fontawesome-webfont.ttf</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Can we use your photo library</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We are using your location</string>
	<key>CFBundleDisplayName</key>
	<string>Vigeo</string>
	<key>CFBundleIdentifier</key>
	<string>com.vigeo.vigeo</string>
	<key>CFBundleVersion</key>
	<string>43.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1654350664885736</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1654350664885736</string>
	<key>FacebookDisplayName</key>
	<string>Vigeo</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>CFBundleName</key>
	<string>Vigeo</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleShortVersionString</key>
	<string>43</string>
</dict>
</plist>
